header.header
  .container
    nav.header__nav
      .header__menu.menu.menu--main
        a.menu__link(href="#") главная
        a.menu__link(href="#") номера и цены
        a.menu__link(href="#") бронирование
        a.menu__link(href="#") услуги
        a.menu__link(href="#") спецпредложения
        a.menu__link(href="#") контакты

      .header__contacts
        | г. Кисловодск,
        br
        | Тел: <a href="tel:+74955316886">+7 (495) 531-68-86</a>
        br
        | доб. 121
