header.header
  .container
    nav.header__nav
      button.hamburger.hamburger--spring(
        type='button',
        aria-label='Menu',
        aria-controls='navigation'
      )
        span.hamburger-box
          span.hamburger-inner

      .header__menu.menu.menu--main
        include menu

      .header__contacts.header__contacts--main
        | г. Кисловодск,
        br
        | Тел: <a href="tel:+74955316886">+7 (495) 531-68-86</a>
        br
        | доб. 121
  .mobile-nav
    .mobile-nav__overlay
      .mobile-nav__content
        .mobile-nav__container.container
          .menu.menu--mobile
            include menu
          .header__contacts.header__contacts--mobile
            | г. Кисловодск,
            br
            | Тел: <a href="tel:+74955316886">+7 (495) 531-68-86</a>
            br
            | доб. 121
