-
  var main = [
    {
      link: 'index.html#price',
      title: 'номера и цены',
    },
    {
      link: 'index.html#booking',
      title: 'бронирование',
    },
    {
      link: 'index.html#services',
      title: 'услуги',
    },
    {
      link: 'index.html#offers',
      title: 'спецпредложения',
    },
    {
      link: 'index.html#contact',
      title: 'контакты',
    },
  ];

-
  var inner = [
    {
      link: 'index.html',
      title: 'главная',
    },
    {
      link: 'index.html#price',
      title: 'номера и цены',
    },
    {
      link: 'index.html#booking',
      title: 'бронирование',
    },
    {
      link: 'index.html#services',
      title: 'услуги',
    },
    {
      link: 'index.html#offers',
      title: 'спецпредложения',
    },
    {
      link: 'index.html#contact',
      title: 'контакты',
    },
  ];


if pageClass == 'index-page'
  each item in main
    a.menu__link(href= item.link)= item.title

if pageClass == 'room-page'
  each item in inner
    a.menu__link(href= item.link)= item.title
