section.booking
  .container
    h2.booking__title.title.title--dash.title--dash-bottom
      | доступность
    .calendar-wrapper
      h3.calendar__heading стандарт + | 5 номеров
      .calendar.js-calendar
      button.button забронировать