section.contact.contact--room
  span.back-text.back-text--contact-room контакты
  .container
    .pure-g
      .pure-u-1.pure-u-lg-1-2
        h2.contact__title.title.title--dash.title--dash-left#contact контакты
        .contact__desc.inner-block
          p.contact__address
            |Ставропольский край,
            br
            | г.Кисловодск, пер. Пикетный, 10 А
          ul.contact__list.contact-list
            li.contact-list__item <b>Тел:</b> <a href="tel:+74955316886">+7 (495) 531-68-86</a> доб. 121
            li.contact-list__item <b>e-mail:</b> <a href="mailto:gans@martens.ru">gans@martens.ru</a>
            li.contact-list__item <b>skype:</b> <a href="skype:hotel-kislovodsk?userinfo">hotel-kislovodsk</a>

      .pure-u-1.pure-u-lg-1-2
        .contact__map#map
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2875.365624022954!2d42.71952601550539!3d43.88969367911389!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40582b4265275c9f%3A0x1a6768ae4d92a528!2z0J_QuNC60LXRgtC90YvQuSDQv9C10YAuLCAxMNCwLCDQmtC40YHQu9C-0LLQvtC00YHQuiwg0KHRgtCw0LLRgNC-0L_QvtC70YzRgdC60LjQuSDQutGA0LDQuSwg0KDQvtGB0YHQuNGPLCAzNTc3MDA!5e0!3m2!1sru!2sua!4v1564675635181!5m2!1sru!2sua" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>