.offers-n-contact
  .container
    .pure-g.offers-n-contact__grid
      .pure-u-1.pure-u-lg-1-2.offers__unit
        h2.offers__title.title.title--offers.title--dash.title--dash-left#offers спецпредложения
        .offers__desc.desc
          h3 Бронирование для групп
          p
            | Мы организуем комплекс услуг для корпоративных клиентов и готовы  предоставить проживание для групп до 15 человек. Персонал отеля имеет большой опыт проведения кофе-брейков, фуршетов, корпоративных обедов, банкетов и свадеб до 100 человек.
          p
            | На групповые заявки и заявки от юридических лиц действуют специальные предложения для корпоративных клиентов. По вопросу бронирования обращайтесь по электронной почте: <a class="highlight" href="mailto:gans@martens.ru">gans@martens.ru</a>
        .offers__desc.desc
          h3 Номер для новобрачных
          p
            | Чтобы провести первую брачную ночь романтично, полностью окунуться в атмосферу любви и на несколько часов забыть о существовании окружающего мира, рекомендуем Вам пакет «Свадебный номер»:

          ul.highlight
            li - Проживание в номере категории «люкс»
            li - Шампанское, конфеты, цветы и фрукты при заезде в номер для молодоженов
            li - Завтрак в номер
            li - Свадебное украшение номера
            li - Поздний выезд до 17-00

          p Забронировать пакет можно по электронной почте: <a class="highlight" href="mailto:gans@martens.ru">gans@martens.ru</a>

          figure.offers__img.offers-img-2
            img(
              src="img/content/offers/img-2.jpg",
              alt=""
            )

      .pure-u-1.pure-u-lg-1-2.contact__unit
        figure.offers__img.offers-img-1
          img(
            src="img/content/offers/img-1.jpg",
            alt=""
          )
        h2.contact__title.title.title--dash.title--dash-left#contact контакты
        .contact__desc.desc
          p.contact__address
            |Ставропольский край,
            br
            | г.Кисловодск, пер. Пикетный, 10 А
          ul.contact__list.contact-list
            li.contact-list__item <b>Тел:</b> <a href="tel:+74955316886">+7 (495) 531-68-86</a> доб. 121
            li.contact-list__item <b>e-mail:</b> <a href="mailto:gans@martens.ru">gans@martens.ru</a>
            li.contact-list__item <b>skype:</> <a href="skype:hotel-kislovodsk?userinfo">hotel-kislovodsk</a>