section.about
  .container
    .about__grid.pure-g
      .pure-u-1.pure-u-lg-1-2
        h2.about__title.title.title--dash.title--dash-left о нас
        .about__desc.desc
          p
            | Гостевой дом «Золотой Гусь» расположен в городе Кисловодск и построен в немецком стиле «баварского подворья» и сдан в эксплуатацию в 2012 г. Он расположен в тихой парковой зоне в 1,5 километрах от центра города и  железнодорожного вокзала Кисловодска. Номерной фонд отеля включает в себя 7 комфортабельных номеров различных категорий, оснащенных душем и туалетом. На территории гостевого дома расположен сад и площадка для барбекю. 

      .pure-u-1.pure-u-lg-1-2
        img(src="img/content/about/img-1.jpg", alt="")
    
    .about__features
      .about__feature.about-feature
        span.icon.icon-wifi
        span.about-feature__title бесплатный wi-fi
        span.about-feature__notes во всех номерах
      .about__feature.about-feature
        span.icon.icon-tv
        span.about-feature__title телевидение
        span.about-feature__notes 20 каналов
      .about__feature.about-feature
        span.icon.icon-parking
        span.about-feature__title бесплатная парковка
        span.about-feature__notes для постояльцев дома
      .about__feature.about-feature
        span.icon.icon-plate
        span.about-feature__title завтрак
        span.about-feature__notes входит в стоимость

    .about__booking.about-booking.pure-g
      .pure-u-1.pure-u-lg-7-12
        img(src="img/content/about/img-2.jpg", alt="")

      .pure-u-1.pure-u-lg-5-12
        .about-booking__content
          p.about-booking__desc
            | В ресторане гостям предлагают блюда русской, кавказской и немецкой кухни и широкий выбор напитков.
          p.about-booking__schedule
            | Регистрация заезда – с 14:00
            br
            | Регистрация отъезда – до 12:00
          button.button.button--arrow
            | забронировать номер
            svg.arrow
              use(xlink:href="img/icons/arrow-r-golden.svg#arrow")

