section.banner
  .container
    h2.banner__title.title.title--dash.title--dash-bottom гостевой дом
    .banner__desc
      p
        | Гостевой дом «Золотой Гусь» расположен в Кисловодске. К услугам гостей сад и бесплатный Wi-Fi. Сотрудники экскурсионного бюро предоставят информацию о регионе.
      p  В каждом номере есть собственная ванная комната.
      p  В гостевом доме Golden Goose ежедневно сервируется континентальный завтрак.
    
    button.button.button--video смотреть видео