section.price
  .container.container--wider
    h2.price__title.title.title--dash.title--dash-bottom#price номера и цены
    .pure-g.price__grid
      .pure-u-1.pure-u-lg-1-4
        .price__item.price-item
          img(src="img/price/img-1.jpg", alt="")
          .price-item__title эконом
          .price-item__cost
            | 1500-2500
            br
            span.price-item__cost-money рублей
          a.price-item__more(href="#") подробнее
          button.button забронировать
      .pure-u-1.pure-u-lg-1-4
        .price__item.price-item
          img(src="img/price/img-2.jpg", alt="")
          .price-item__title стандарт
          .price-item__cost
            | 2200-3900
            br
            span.price-item__cost-money рублей
          a.price-item__more(href="#") подробнее
          button.button забронировать
      .pure-u-1.pure-u-lg-1-4
        .price__item.price-item
          img(src="img/price/img-3.jpg", alt="")
          .price-item__title стандарт +
          .price-item__cost
            | 2300-3900
            br
            span.price-item__cost-money рублей
          a.price-item__more(href="#") подробнее
          button.button забронировать
      .pure-u-1.pure-u-lg-1-4
        .price__item.price-item
          img(src="img/price/img-4.jpg", alt="")
          .price-item__title люкс
          .price-item__cost
            | 2600-4900
            br
            span.price-item__cost-money рублей
          a.price-item__more(href="#") подробнее
          button.button забронировать
        