section.services
  .services__container.container
    .services__grid.pure-g
      .pure-u-1.pure-u-lg-1-2
        h2.services__title.title.title--dash.title--dash-left услуги
        .services__desc.desc
          h3 Трансфер
          p
            | Сотрудники отеля могут заказать для Вас такси из аэропорта. Данную услугу Вы можете забронировать по электронной почте: <a href="mailto:gans@martens.ru">gans@martens.ru</a>

          h3 Ресторан
          p
            | В ресторане гостевого дома «Золотой Гусь» Вы можете дополнительно заказать обед и ужин. Меню ресторана включает в себя блюда русской, кавказской и немецкой кухни.

      .pure-u-1.pure-u-lg-1-2
        img(src="img/content/services/img-1.jpg", alt="")