extends template/main

block variables
  - var title = 'Главная страница'
  - var pageClass = 'index-page'

block content
  include modules/about/about
  include modules/price/price
  include modules/services/services
  include modules/banner/banner
  include modules/offers/offers
  include modules/feedback/feedback
  