extends template/main

block variables
  - var title = 'Номер'
  - var pageClass = 'room-page'

block content
  include pages/room/hero
  include pages/room/about
  include pages/room/booking
  include pages/room/gallery
  include pages/room/feedback
  include pages/room/contact

