/* ==========================================================================
   #CALENDAR
   ========================================================================== */

.calendar {


  .ui-datepicker-inline {
    width: 100% !important;
  }


  .ui-widget.ui-widget-content {
    border: 0;
  }


  .ui-datepicker-multi-2 .ui-datepicker-group {
    width: 46%;

    @media (min-width: 80em) {
      width: 44%;
    }
  }


  .ui-datepicker-multi-2 .ui-datepicker-group-first {
    margin-right: 8%;

    @media (min-width: 80em) {
      margin-right: 12%;
    }
  }


  .ui-widget-header {
    border: 0;
    background: none;
    color: $brand;
    font-weight: bold;
    font-family: "Proxima Nova", sans-serif;
    font-size: rem(14);
    line-height: 1.2;
    letter-spacing: 0.21em;
    text-transform: uppercase;
  }


  .ui-datepicker table {
    font-size: rem(18);
    width: 100%;
    margin: 0;
  }


  .ui-datepicker td span, .ui-datepicker td a {
    display: block;
    padding: .5em .2em;
    text-align: center;
    text-decoration: none;
  }


  .ui-state-default {
    border: 0;
    background: #fff;
    font-weight: normal;
    font-size: rem(18);
    color: #010101;
    
  }


  .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 0;
    background: #fff;
    color: #010101;
  }


  .ui-datepicker .ui-datepicker-prev,
  .ui-datepicker .ui-datepicker-next {
    top: 50%;
    width: 44px;
    height: 30px;
    transform: translate(0%, -50%);
    border: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 34px 11px;

    &:hover,
    &:focus,
    &:active {
      background-color: #fff;
    }
  }

  .ui-datepicker .ui-datepicker-next {
    background-image: url(../img/icons/golden-arrow-right.png);
  }


  .ui-datepicker .ui-datepicker-prev {
    background-image: url(../img/icons/golden-arrow-left.png);
  }


  .ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
    display: none;
  }


  .ui-datepicker-week-end,
  .ui-datepicker-week-end .ui-state-default {
    color: $brand;
  }

}


.calendar-wrapper {
  position: relative;
  width: 100%;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 48em) {
    max-width: 870px;
  }
}


.calendar-wrapper .button {
  display: block;
  width: 228px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;

  @media (min-width: 80em) {
    margin-top: 84px;
  }
}

.calendar__heading {
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #C4C4C4;

  @media (min-width: 62em) {
    position: absolute;
    top: 9px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 0;
  }
  
}