/*------------------------------------*\
  #SERVICES
\*------------------------------------*/

.services {
  padding-bottom: 115px;

  &__container.container {
    // padding-left: 130px;

    @media (min-width: 1280px) {
      max-width: 1590px;
      padding-left: 130px;
      padding-right: 100px;
    }
  }

  &__title {
    margin-top: 60px;
    margin-bottom: 36px;
  }
}