/*------------------------------------------*/
/*  BUTTONS
/*------------------------------------------*/
.button {
  position: relative;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: top;
  user-select: none;
  border: 2px solid $brand;
  padding: 16px;
  font-family: $main-font;
  font-size: rem(14);
  line-height: 1.15;
  letter-spacing: 0.2em;
  font-weight: bold;
  border-radius: 0;
  color: $brand;
  text-transform: uppercase;
  background-color: transparent;
  transition:
    background-color 0.25s ease-in-out,
    color 0.25s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: $brand;
    color: #fff;
  }

  &:focus {
    outline: none;
  }

  &--light {
    border-color: #fff;
    color: #fff;

    &:hover {
      background-color: #fff;
      color: $black;
    }
  }

  &--arrow {

    .arrow {
      width: 34px;
      height: 11px;
      stroke: $brand;
      transition: stroke 0.25s ease-in-out;
    }

    &:hover {

      .arrow {
        stroke: #fff;
      }
    }

    &.button--light {

      .arrow {
        stroke: #fff;
      }

      &:hover {

        .arrow {
          stroke: $black;
        }
      }
    }
  }
}
