/*------------------------------------*\
  #TITLE
\*------------------------------------*/

.title {
  font-weight: bold;
  font-size: rem(28);
  line-height: 1.2;
  letter-spacing: 0.07em;
  color: $black;
  text-transform: uppercase;

  @media (min-width: 36em) {
    font-size: rem(36);
  }

  @media (min-width: 48em) {
    font-size: rem(40);
  }

  @media (min-width: 62em) {
    font-size: rem(44);
  }

  @media (min-width: 1470px) {
    font-size: rem(48);
  }

  &--dash {
    position: relative;

    &:after {
      content: '';
      flex: none;
      display: block;
      // width: 149px;
      width: 7.76vw;
      height: 0;
      border: 1px solid #000;
    }
  }

  &--dash-left {
    display: flex;
    align-items: center;

    &:after {
      order: -1;
      margin-right: 30px;
    }
  }

  &--dash-bottom {
    padding-bottom: 26px;
    text-align: center;
    
    &:after {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}