footer.footer(
  style="background-image: url(img/general/bg/img-3.jpg);"
)
  .container
    .footer__row
      .footer__module
        .brand.brand--footer
          img(src="img/general/logo.png", alt="")
      .footer__module
        p.footer__address
          | Ставропольский край, г.Кисловодск, пер. Пикетный, 10 А. Тел: +7 (495) 531-68-86 доб. 121
        p.footer__rights
          | 2014-2019. Отель класса люкс «ГерМания» и Гостевой дом «Золотой Гусь». Официальный сайт.

